In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path 
import re

/var/folders/wc/dg5vr0h57jvg48dksgcxz02w0000gn/T/ipykernel_70301/1209665080.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("/Users/siddhant/housepriceproject/Capstone/data/raw/house.csv")
df.head()

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,...,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,...,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,...,"Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,E69288322
2,10 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/10-bhk-bedroom-indepen...,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,...,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69536898
3,21 Bedroom House for sale in Sector 54 Gurgaon,https://www.99acres.com/21-bhk-bedroom-indepen...,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,...,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",R69483164
4,12 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/12-bhk-bedroom-indepen...,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,...,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",M69381272

In [3]:
df.isnull().sum()

property_name        0
link                 0
society            624
price              127
rate                41
area                 0
areaWithType       108
bedRoom            108
bathroom           108
balcony            108
additionalRoom     506
address             64
noOfFloor          128
facing             421
agePossession      108
nearbyLocations    182
description         59
furnishDetails     352
features           421
rating             188
property_id         59
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1095 non-null   object
 1   link             1095 non-null   object
 2   society          471 non-null    object
 3   price            968 non-null    object
 4   rate             1054 non-null   object
 5   area             1095 non-null   object
 6   areaWithType     987 non-null    object
 7   bedRoom          987 non-null    object
 8   bathroom         987 non-null    object
 9   balcony          987 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1031 non-null   object
 12  noOfFloor        967 non-null    object
 13  facing           674 non-null    object
 14  agePossession    987 non-null    object
 15  nearbyLocations  913 non-null    object
 16  description      1036 non-null   object
 17  furnishDetails   743 non-null    object
 18  features         674 non-null    object
 19  rating           907 non-null    object
 20  property_id      1036 non-null   object
dtypes: object(21)
memory usage: 179.8+ KB

In [5]:
df.duplicated().sum()

13

In [6]:
# DROPPING UNNECESSARY COLUMNS
print(f"Shape of dataframe before dropping columns {df.shape}")

df.drop(columns=["link", "description", "property_id"], inplace=True)

print(f"Shape of dataframe after dropping columns {df.shape}")

Shape of dataframe before dropping columns (1095, 21)
Shape of dataframe after dropping columns (1095, 18)

In [7]:
# CONVERTING PRICE COLUMN INTO ONE SINGLE UNIT (CRORES)
df["price"].value_counts()

price
3.5 Crore     19
5.5 Crore     17
6.5 Crore     16
6 Crore       14
8 Crore       13
              ..
3.09 Crore     1
74 Lac         1
69 Lac         1
2.43 Crore     1
2.98 Crore     1
Name: count, Length: 302, dtype: int64

In [8]:
df = df[df["price"] != "Price on Request"]

def price(value):
    if type(value) == float:
        return value
    else:
        if value[1] == "Lac":
            return round(float(value[0])/100, 2)
        else:
            return round(float(value[0]),2)
   
    

df["price"] =  df["price"].str.split(" ").apply(price)
df.sample(5)

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
70,5 Bedroom House for sale in Sector 33 Gurgaon,Unitech Uniworld Resorts,NaN,NaN,(420 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
763,3 Bedroom House for sale in Palam Vihar,Ansals Palam Vihar,2.75,"₹ 17,662/sq.ft.",(145 sq.m.) Plot Area,Plot area 173(144.65 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,"Pooja Room,Study Room","Palam Vihar, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","['5 Fan', '1 Exhaust Fan', '5 Geyser', '1 Ligh...","['Private Garden / Terrace', 'Maintenance Staff']","['Environment5 out of 5', 'Lifestyle5 out of 5..."
632,3 Bedroom House for sale in Sushant Lok Phase 1,NaN,1.90,"₹ 35,185/sq.ft.",(50 sq.m.) Plot Area,Plot area 60(50.17 sq.m.)Built Up area: 60 sq....,3 Bedrooms,3 Bathrooms,3+ Balconies,NaN,"C Block, Sushant Lok I, Gurgaon, Sushant Lok P...",3 Floors,NaN,10+ Year Old,"['Sector 42-43 metro station', 'Sector 53-54 m...","['1 Water Purifier', '3 Fan', '1 Fridge', '1 E...",NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
574,5 Bedroom House for sale in New Colony,Rattan Garden,0.83,"₹ 17,584/sq.ft.",(44 sq.m.) Carpet Area,Carpet area: 472 (43.85 sq.m.),5 Bedrooms,3 Bathrooms,2 Balconies,NaN,"394/1/11, Rattan Garden, New Colony, New Colon...",3 Floors,East,undefined,"['Chintapurni Mandir', 'Aryan Hospital', 'D.R....",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
827,3 Bedroom House for sale in Sector 48 Gurgaon,Vipul Tatvam Villa,7.25,"₹ 27,971/sq.ft.",(241 sq.m.) Plot Area,Plot area 288(240.8 sq.m.),3 Bedrooms,4 Bathrooms,2 Balconies,"Servant Room,Study Room,Store Room,Pooja Room","A111, Sector 48 Gurgaon, Gurgaon, Haryana",2 Floors,South,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...","['4 Wardrobe', '1 Water Purifier', '12 Fan', '...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [9]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
df["society"].value_counts()

society
Vipul Tatvam Villa                                   27
International City by SOBHA Phase 2                  26
Emaar MGF Marbella                                   26
International City by Sobha Phase 1                  23
Unitech Uniworld Resorts                             14
DLF City Plots                                       11
DLF City Plots Phase 2                               11
Unitech Espace                                       11
Bptp Visionnaire                                      9
Eldeco Mansionz                                       9
Uppal Southend4.0 ★                                   9
Not Applicable                                        7
Experion Windchants3.8 ★                              6
Ansals Palam Vihar                                    6
Sushant Lok 1 Builder Floors                          6
DLF New Town Heights 24.0 ★                           5
DLF City Phase 1                                      5
Vatika India Next4.1 ★                                4
Unitech Nirvana Birch Court                           4
Ansal Sushant Lok Plots4.1 ★                          4
nul                                                   4
Ansals Florence Villa                                 4
Unitech Aspen Greens                                  4
DLF Alameda                                           4
Vatika Signature Villas                               3
Eros Rosewood City4.0 ★                               3
Sector 14 RWA                                         3
Eros Rosewood Villas                                  3
Palam Vihar Extension West Zone RWA                   3
Malibu Towne                                          3
Housing Board Colony                                  3
BPTP Astaire Gardens3.7 ★                             3
Rattan Garden                                         3
Hans Enclave                                          3
HUDA Ashok Vihar Phase 13.9 ★                         3
Bestech Park View Ananda4.2 ★                         3
SS Aaron Ville                                        3
Silverglades Tarudhan Valley Golf Resort              3
Tata Primanti4.1 ★                                    3
Puri Diplomatic Greens4.0 ★                           3
Luxury DLF City Floors                                3
Central Park Flower Valley                            3
DLF City Plots Phase 3                                3
Anant Raj Estates                                     3
Suncity Township4.1 ★                                 2
IFFCO Nagar and 17B RWA                               2
Bhim Garh Kheri                                       2
Sobha City                                            2
DLF South City 1                                      2
Ansal Sushant Residency                               2
Ardee City3.8 ★                                       2
DLF New Town Heights3.7 ★                             2
Signature Global City 92                              2
Satya The Hermitage3.5 ★                              2
Unitech Deerwood Chase                                2
Suncity Essel Towers4.2 ★                             2
Emaar The Palm Springs                                2
Project Mianwali Colony                               2
Nirvana Cedar Crest                                   2
Ansal API Esencia3.7 ★                                2
SS Hibiscus                                           2
Saksham Welfare Association                           2
Unitech Palms South City 1                            2
BPTP Pedestal                                         2
RWA Sector 46                                         2
Sector 38 RWA                                         2
Project Housing Board Colony                          2
Unitech Escape3.8 ★                                   2
DLF City Plots Phase 4                                2
Emaar Emerald Hills4.1 ★                              2
shivpuri                                              2
Spaze Privy3.9 ★                                      2
Om Nagar, Sector-11                                   1
Ireo Victory Valley4.1 ★                              1
Grover Homes Sec 4                                    1
4S Aradhya Homes                                      1
Ansal API Spanish Court                               1
secter 16a daultabad faridabad house no 313           1
Central Park Flower Valley Cerise Floors              1
FLOOR WISE DESIGNER KOTHI                             1
Birla Navya                                           1
Kothi                                                 1
rajendra park sec 105                                 1
nirvana country                                       1
Smart World Orchard                                   1
Landmark House                                        1
cloudnine cottages                                    1
u block dlf phase 3 road no 21                        1
Sector 15 Part 2 RWA                                  1
Nitin Vihar                                           1
Ansal                                                 1
Ashok vihar phase III Extension                       1
Ansal Heights3.2 ★                                    1
rattan vihar rajendra park                            1
Signature Global City 63A                             1
DLF City Plot Phase 3                                 1
Adani Brahma Samsara4.2 ★                             1
Ansal Florence Super                                  1
Unitech South City 23.8 ★                             1
Sheetla Enclave                                       1
patel nager house no 927/5                            1
Huda Floor                                            1
Huda                                                  1
Anant Raj Manor Villas                                1
Sector 57 Huda                                        1
Godrej Meridien                                       1
Ansal Sushant Lok 2                                   1
The Laburnum                                          1
Vatika Independent Floors3.8 ★                        1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road     1
Sector-17C                                            1
DLF Pink Town House4.0 ★                              1
huda sector-56 gurgaon                                1
Satya The Legend3.8 ★                                 1
Prem Kunj                                             1
Ireo Victory Valley4.0 ★                              1
Independent House Sector 45                           1
Ashok Vihar Phase 3 Gurgaon                           1
Farrukhnagar                                          1
Unitech Greenwood City3.6 ★                           1
Vatika The Seven Lamps3.8 ★                           1
Nirvana Country                                       1
Ansal Sushant Lok                                     1
Central Park                                          1
Signature Global City 81                              1
Signature Global City                                 1
DLF Floors Phase 3                                    1
sneh vihar                                            1
Suncity Avenue 76                                     1
DLF The Arbour                                        1
Surendra Homes Dayanand Colony                        1
Laxmi Garden Sector-11                                1
DLF Gardencity Enclave                                1
Tulip Yellow                                          1
shree krishna homes                                   1
Smart World Gems                                      1
Ganpati Heights Apartment                             1
Hero Homes                                            1
Jacobpura Gurugram                                    1
Anand Garden, Sector-105                              1
Rajendra Park Gurgaon                                 1
RK Excelo                                             1
DLF The Grove                                         1
house number B-34                                     1
Shri Shyam Residency                                  1
ATS Tourmaline3.9 ★                                   1
Bhawani enclave                                       1
Vatika Sovereign Next                                 1
MANOHAR NAGAR                                         1
Laxman vihar phase 2                                  1
Anamika Enclave                                       1
bhim nagar, sector 6                                  1
Emaar MGF The Palm Drive4.1 ★                         1
All Punjabi Welfare Association                       1
Tulip Ivory3.5 ★                                      1
Huda Plots                                            1
DLF Garden City Floors                                1
Ansal Celebrity Homes                                 1
mian wali                                             1
SS Omnia                                              1
Bhim Nagar Society                                    1
Anshul                                                1
Sare Crescent Parc Royal Greens Phase 1               1
Ninex City                                            1
Vipul World3.9 ★                                      1
Greenopolis                                           1
Ansal Esencia Sovereign Floors                        1
Nirmal Enclave, Maruti Kunj Road                      1
jacob pura                                            1
mahavir pura                                          1
Raj Villas                                            1
sector 37                                             1
Shivaji Nagar Residential                             1
private house                                         1
Surat nagar phase 2                                   1
DLF City Plot Phase 4                                 1
Sai Kripa Floors 5                                    1
Naman Residency                                       1
Krishna Palace                                        1
Signature Global Park4.0 ★                            1
Huda Flats                                            1
Jacobpura                                             1
Indiabulls Centrum Park3.7 ★                          1
Madan puri                                            1
My Home                                               1
ROW HOUSE                                             1
HUDA Plot Sector 38                                   1
HUDA Housing Board Colony4.1 ★                        1
Name: count, dtype: int64

In [10]:
# CLEANING UP THE 'SOCIETY' COLUMN
def regex(value):
    cleaned_value = re.sub(r'\d+(\.\d+)?\s?★', "", str(value))
    cleaned_value = cleaned_value.lower().strip()
    return cleaned_value

df["society"] = df["society"] .apply(regex)
df.sample(5)

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
1078,3 Bedroom House for sale in Sector 46 Gurgaon,nan,2.20,"₹ 24,202/sq.ft.",(84 sq.m.) Plot Area,Plot area 101(84.45 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,Store Room,"Sector 46 Gurgaon, Gurgaon, Haryana",3 Floors,North-West,10+ Year Old,"['Axis bank ATM', 'State bank of india ATM', '...","['3 Wardrobe', '6 Fan', '1 Exhaust Fan', '30 L...","['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment4 out of 5', 'Safety4 out of 5', ..."
492,4 Bedroom House for sale in Sector 67 Gurgaon,nan,3.00,"₹ 11,904/sq.ft.",(234 sq.m.) Carpet Area,Carpet area: 2520 (234.12 sq.m.),4 Bedrooms,4 Bathrooms,No Balcony,NaN,"Sector 67, Gurgaon, Haryana, India, Sector 67 ...",3 Floors,North-East,undefined,"['Sri Radhe Krishna Temple', 'Kamal Hospital a...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Lifestyle4.5 out of..."
677,2 Bedroom House for sale in Sector 39 Gurgaon,nan,1.70,"₹ 17,980/sq.ft.",(84 sq.m.) Plot Area,Plot area 900(83.61 sq.m.),2 Bedrooms,2 Bathrooms,3+ Balconies,"Store Room,Servant Room","000, Sector 39 Gurgaon, Gurgaon, Haryana",3 Floors,NaN,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'State bank of india AT...","['3 Wardrobe', '3 Fan', '5 Light', 'No AC', 'N...","['Water Storage', 'No open drainage around', '...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1009,3 Bedroom House for sale in DLF Phase 1,nan,4.50,"₹ 33,333/sq.ft.",(125 sq.m.) Plot Area,Plot area 150(125.42 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,Pooja Room,"DLF Phase 1, Gurgaon, Haryana",2 Floors,West,10+ Year Old,"['Guru dronacharya metro station', 'Dlf phase ...","['3 Wardrobe', '1 Water Purifier', '4 Fan', '1...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Safety5 out of 5', ..."
519,4 Bedroom House for sale in DLF Phase 3,nan,3.25,"₹ 30,384/sq.ft.",(99 sq.m.) Plot Area,Plot area 1069.63(99.37 sq.m.),4 Bedrooms,4 Bathrooms,3 Balconies,NaN,"DLF Phase 3, Gurgaon, Haryana",3 Floors,NaN,10+ Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",NaN,"['Water Storage', 'Park']","['Environment4 out of 5', 'Lifestyle5 out of 5..."

In [14]:
# REPLACING NAN WITH INDEPENDENT (INDEPENDENT HOUSING)
df["society"] = df["society"].replace('nan', "independent")
df.head(3)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...","['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251.0,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [11]:
# CLEANING UP AREA COLUMN - RENAMING THE COLUMN
df.rename(columns={"rate":"price_per_sqft"}, inplace=True)
df["price_per_sqft"] = df["price_per_sqft"].str.split("/").str.get(0).str.replace("₹", "").str.replace(",","").str.strip().astype(float)
df.sample(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
491,4 Bedroom House for sale in Udyog Vihar Phase 1,nan,NaN,NaN,(1115 sq.m.) Plot Area,Plot area 12000(1114.84 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,"Servant Room,Store Room","320a, Udyog Vihar Phase 1, Gurgaon, Haryana",4 Floors,North,5 to 10 Year Old,"['Indusind bank cyber city metro station', 'Mi...","['1 Water Purifier', '5 Fan', '1 Fridge', '1 E...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
856,4 Bedroom House for sale in Sector 48 Gurgaon,eldeco mansionz,6.00,22222.0,(251 sq.m.) Plot Area,Plot area 300(250.84 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"Sector 48 Gurgaon, Gurgaon, Haryana",2 Floors,East,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...","['4 Wardrobe', '6 Fan', '5 Geyser', '10 Light'...","['Private Garden / Terrace', 'Maintenance Staf...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
155,5 Bedroom House for sale in Sector 109 Gurgaon,international city by sobha phase 1,12.00,20000.0,(743 sq.m.) Plot Area,Plot area 8000(743.22 sq.m.)Built Up area: 700...,5 Bedrooms,6 Bathrooms,3 Balconies,"Study Room,Servant Room","H No, Sector 109 Gurgaon, Gurgaon, Haryana",2 Floors,North-East,1 to 5 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...","['5 Wardrobe', '10 Fan', '1 Exhaust Fan', '2 G...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
964,12 Bedroom House for sale in Sector 27 Gurgaon,nan,8.25,45833.0,(176 sq.m.) Plot Area,Plot area 210(175.59 sq.m.)Built Up area: 205 ...,12 Bedrooms,12 Bathrooms,3+ Balconies,"Pooja Room,Servant Room","Sector 28 Gurgaon, Sector 27 Gurgaon, Gurgaon,...",4 Floors,East,0 to 1 Year Old,"['Dlf phase 1 metro station', 'Sector 42-43 me...","['6 Wardrobe', '1 Water Purifier', '4 Fan', '1...","['Feng Shui / Vaastu Compliant', 'Maintenance ...","['Environment5 out of 5', 'Safety4 out of 5', ..."
1050,5 Bedroom House for sale in Sector 33 Gurgaon,unitech uniworld resorts,NaN,NaN,(435 sq.m.) Plot Area,Plot area 520(434.79 sq.m.),5 Bedrooms,8 Bathrooms,3+ Balconies,"Servant Room,Store Room","A-898, Sector 33 Gurgaon, Gurgaon, Haryana",4 Floors,West,1 to 5 Year Old,"['Rajiv Chowk Mosque', 'Icici bank ATM', 'Stan...","['5 Wardrobe', '15 Fan', '1 Exhaust Fan', '5 G...","['Private Garden / Terrace', 'High Ceiling Hei...","['Environment3 out of 5', 'Safety4 out of 5', ..."

In [32]:
# NOW SINCE WE HAVE price_per_sqft AND price WE CAN ACTUALLY CREATE A FETAURE CALLED AREA.
df["area"] =  round((df["price"] * 10000000)/df["price_per_sqft"],2)
df.insert(loc=2, column="property_type", value="house")

df.head(5)

,property_name,society,property_type,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,house,5.25,20115.0,2609.99,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...","['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,house,5.70,105751.0,539.00,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2,NA,5 to 10 Year Old,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,house,2.10,38251.0,549.01,Plot area 61(51 sq.m.),10,10,3+,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,house,5.00,43066.0,1161.01,Plot area 129(107.86 sq.m.),21,21,3+,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,house,3.00,53763.0,558.00,Plot area 62(51.84 sq.m.),12,12,3+,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...","['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [15]:
# CLEANING THE BEDROOM COLUMN
print(f"{df['bedRoom'].value_counts()}")
print(f"Number of missing values in bedroom column are: {df['bedRoom'].isnull().sum()}")

bedRoom
4 Bedrooms     239
5 Bedrooms     195
3 Bedrooms     148
2 Bedrooms      88
6 Bedrooms      82
9 Bedrooms      45
1 Bedroom       38
8 Bedrooms      34
7 Bedrooms      31
12 Bedrooms     29
10 Bedrooms     21
16 Bedrooms     12
13 Bedrooms      4
18 Bedrooms      2
19 Bedrooms      2
11 Bedrooms      2
20 Bedrooms      1
21 Bedrooms      1
36 Bedrooms      1
34 Bedrooms      1
14 Bedrooms      1
Name: count, dtype: int64
Number of missing values in bedroom column are: 108

In [17]:
df[df["bedRoom"].isnull()].head(5)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
60,4 Bedroom House for sale in Sector 86 Gurgaon,dlf new town heights,NaN,7718.0,(297 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,8 Bedroom House for sale in B1 Block Sector 57...,independent,NaN,25535.0,(135 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,6 Bedroom House for sale in DLF Phase 1,independent,NaN,1859.0,(420 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,6 Bedroom House for sale in Sushant Lok Phase 3,ansal sushant residency,NaN,17037.0,(251 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,6 Bedroom House for sale in Sushant Lok Phase 3,ansals florence villa,NaN,10579.0,(321 sq.m.) Plot Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

So whereever the bedroom value is missing, with it there are other columns with missing values too. These many missing values wont be helpful for our prediction. So we would want a dataframe without these missing values

In [19]:
df = df[~df["bedRoom"].isnull()]
df["bedRoom"] = df["bedRoom"].str.split(" ").str.get(0).str.strip().astype(int)
print(df.shape)
df.sample(3)

(977, 18)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
420,4 Bedroom House for sale in Sector 48 Gurgaon,vipul tatvam villa,8.50,26235.0,(301 sq.m.) Plot Area,Plot area 360(301.01 sq.m.),4,6 Bathrooms,3 Balconies,"Pooja Room,Servant Room,Others","Sector 48 Gurgaon, Gurgaon, Haryana",3 Floors,North,10+ Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",NaN,"['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
433,5 Bedroom House for sale in Sector 53 Gurgaon,independent,4.65,17574.0,(246 sq.m.) Plot Area,Plot area 294(245.82 sq.m.),5,5 Bathrooms,3+ Balconies,NaN,"Dlf Exclusive Floors, Suncity, Sector 54, Gurg...",1 Floors,NaN,5 to 10 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","['7 Fan', '5 Geyser', '8 Light', '8 AC', '1 Ch...",NaN,"['Environment4 out of 5', 'Lifestyle5 out of 5..."
942,2 Bedroom House for sale in Sector 70A Gurgaon,bptp pedestal,0.92,7750.0,(110 sq.m.) Carpet Area,Carpet area: 1187 (110.28 sq.m.),2,3 Bathrooms,3+ Balconies,Others,"123, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Ninex Mall', 'Airia Mall', 'Meditree Market'...","['3 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Safety4 out of 5', ..."

In [20]:
# CLEANING THE BATHROOM COLUMN
print(f"{df['bathroom'].value_counts()}")
print(f"Number of missing values in bathroom column are: {df['bathroom'].isnull().sum()}")

bathroom
4 Bathrooms     233
3 Bathrooms     166
5 Bathrooms     139
2 Bathrooms     114
6 Bathrooms      85
1 Bathroom       65
9 Bathrooms      42
7 Bathrooms      39
8 Bathrooms      29
12 Bathrooms     23
10 Bathrooms     11
16 Bathrooms      8
18 Bathrooms      4
13 Bathrooms      4
11 Bathrooms      4
20 Bathrooms      3
17 Bathrooms      3
14 Bathrooms      2
21 Bathrooms      1
36 Bathrooms      1
34 Bathrooms      1
Name: count, dtype: int64
Number of missing values in bathroom column are: 0

In [21]:
df["bathroom"] = df["bathroom"].str.split(" ").str.get(0).str.strip().astype(int)
df.sample(3)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
336,2 Bedroom House for sale in Baldev Nagar,independent,0.53,5888.0,(84 sq.m.) Built-up Area,Built Up area: 900 (83.61 sq.m.),2,2,No Balcony,NaN,"Baldev Nagar, Sector 9, Baldev Nagar, Gurgaon,...",1 Floors,NaN,undefined,NaN,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
947,2 Bedroom House for sale in Sector 70A Gurgaon,bptp pedestal,0.90,7582.0,(110 sq.m.) Carpet Area,Carpet area: 1187 (110.28 sq.m.),2,2,3+ Balconies,"Servant Room,Others","123, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Ninex Mall', 'Airia Mall', 'Meditree Market'...","['1 Exhaust Fan', '3 AC', '1 Modular Kitchen',...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Safety4 out of 5', ..."
1007,3 Bedroom House for sale in Sector 49 Gurgaon,eros rosewood city,3.75,22046.0,(158 sq.m.) Plot Area,Plot area 189(158.03 sq.m.),3,3,1 Balcony,Pooja Room,"Block-D, Sector 49 Gurgaon, Gurgaon, Haryana",2 Floors,South,10+ Year Old,"['Sri Radhe Krishna Temple', 'Standard charter...","['2 Bed', '3 Wardrobe', '5 Fan', '1 Exhaust Fa...",['Maintenance Staff'],"['Environment4 out of 5', 'Safety5 out of 5', ..."

In [22]:
# CLEANING THE BALCONY COLUMN
print(f"{df['balcony'].value_counts()}")
print(f"Number of missing values in balcony column are: {df['balcony'].isnull().sum()}")

balcony
3+ Balconies    373
2 Balconies     223
3 Balconies     161
No Balcony      115
1 Balcony       105
Name: count, dtype: int64
Number of missing values in balcony column are: 0

Here we have cane change the 'No Balcony' to 0

In [23]:
df["balcony"] = df["balcony"].str.split(" ").str.get(0).str.replace("No", "0")
df.head(3)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...","['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251.0,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10,10,3+,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [24]:
# LETS LOOK INTO THE ADDITIONALROOM COLUMN
print(f"{df['additionalRoom'].value_counts()}")
print(f"Number of missing values in additionalRoom column are: {df['additionalRoom'].isnull().sum()}")

additionalRoom
Servant Room                                     82
Pooja Room,Study Room,Servant Room,Store Room    63
Others                                           59
Pooja Room                                       38
Pooja Room,Study Room,Servant Room               34
Pooja Room,Study Room,Servant Room,Others        32
Store Room                                       31
Pooja Room,Servant Room                          24
Study Room                                       19
Study Room,Servant Room                          19
Servant Room,Store Room                          15
Pooja Room,Study Room                            11
Pooja Room,Store Room                            11
Pooja Room,Others                                11
Pooja Room,Store Room,Study Room,Servant Room     9
Servant Room,Pooja Room                           8
Servant Room,Others                               8
Pooja Room,Servant Room,Store Room                7
Study Room,Servant Room,Pooja Room,Store Room     7
Servant Room,Pooja Room,Store Room                7
Store Room,Servant Room                           6
Pooja Room,Servant Room,Others                    5
Servant Room,Study Room                           5
Servant Room,Study Room,Pooja Room,Store Room     5
Servant Room,Store Room,Pooja Room                5
Study Room,Pooja Room,Servant Room                5
Study Room,Servant Room,Store Room                4
Pooja Room,Servant Room,Study Room,Store Room     4
Study Room,Servant Room,Store Room,Pooja Room     4
Pooja Room,Study Room,Others                      4
Store Room,Pooja Room                             4
Pooja Room,Study Room,Store Room                  3
Study Room,Servant Room,Pooja Room                3
Study Room,Others                                 3
Study Room,Pooja Room,Servant Room,Store Room     3
Study Room,Pooja Room,Store Room,Servant Room     2
Pooja Room,Study Room,Store Room,Servant Room     2
Study Room,Servant Room,Others                    2
Store Room,Pooja Room,Study Room,Servant Room     2
Study Room,Pooja Room                             2
Store Room,Pooja Room,Study Room                  2
Store Room,Pooja Room,Servant Room                2
Servant Room,Study Room,Pooja Room                2
Servant Room,Study Room,Store Room,Pooja Room     2
Study Room,Pooja Room,Store Room                  2
Study Room,Store Room                             1
Study Room,Store Room,Pooja Room                  1
Store Room,Pooja Room,Servant Room,Study Room     1
Servant Room,Store Room,Study Room,Pooja Room     1
Store Room,Servant Room,Study Room,Pooja Room     1
Pooja Room,Store Room,Servant Room                1
Servant Room,Others,Pooja Room                    1
Study Room,Store Room,Servant Room,Pooja Room     1
Store Room,Study Room,Servant Room                1
Store Room,Servant Room,Pooja Room                1
Study Room,Others,Servant Room                    1
Name: count, dtype: int64
Number of missing values in additionalRoom column are: 388

In [25]:
df["additionalRoom"].fillna("not available", inplace=True)
df["additionalRoom"] = df["additionalRoom"].str.lower()
df.head(3)

/var/folders/wc/dg5vr0h57jvg48dksgcxz02w0000gn/T/ipykernel_70301/3371871795.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["additionalRoom"].fillna("not available", inplace=True)

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...","['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251.0,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10,10,3+,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [26]:
# LETS CLEAN THE noOfFloor COLUMN. WE WILL EXTRACT THE FLOOR NUMBER. (2 Floors- WE ARE INTERESTED IN 2)
df["noOfFloor"].value_counts()

noOfFloor
3 Floors     309
2 Floors     294
1 Floors     181
4 Floors     137
5 Floors       9
0 Floors       6
14 Floors      3
6 Floors       3
11 Floors      2
12 Floors      2
10 Floors      2
16 Floors      1
51 Floors      1
41 Floors      1
27 Floors      1
20 Floors      1
13 Floors      1
21 Floors      1
02 Floors      1
33 Floors      1
Name: count, dtype: int64

In [27]:
df["noOfFloor"].isnull().sum()

20

In [28]:
df["noOfFloor"] = df["noOfFloor"].str.split(" ").str.get(0)
df.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,20115.0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...","['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,105751.0,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2,NaN,5 to 10 Year Old,NaN,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,38251.0,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10,10,3+,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,43066.0,(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21,21,3+,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,53763.0,(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12,12,3+,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...","['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [29]:
df.rename(columns={'noOfFloor':'floorNum'},inplace=True)

In [31]:
# IN THE FACING COLUMN LETS CHECK IF THERE ARE ANY NULL VALUES IF YES THEN LETS JUST REPLACE THEM WITH NA AS OF NOW
print(f"{df['facing'].value_counts()}")
print(f"{df['facing'].isnull().sum()}")
df["facing"].fillna("NA", inplace=True)

facing
East          181
North-East    159
North         113
West           75
North-West     44
South-East     40
South          36
South-West     25
Name: count, dtype: int64
304

/var/folders/wc/dg5vr0h57jvg48dksgcxz02w0000gn/T/ipykernel_70301/3116417068.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["facing"].fillna("NA", inplace=True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977 entries, 0 to 1090
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    977 non-null    object
 1   society          977 non-null    object
 2   property_type    977 non-null    object
 3   price            958 non-null    float64
 4   price_per_sqft   958 non-null    float64
 5   area             958 non-null    float64
 6   areaWithType     977 non-null    object
 7   bedRoom          977 non-null    int64
 8   bathroom         977 non-null    int64
 9   balcony          977 non-null    object
 10  additionalRoom   977 non-null    object
 11  address          972 non-null    object
 12  floorNum         957 non-null    object
 13  facing           977 non-null    object
 14  agePossession    977 non-null    object
 15  nearbyLocations  861 non-null    object
 16  furnishDetails   740 non-null    object
 17  features         674 non-null    object
 18  rating           856 non-null    object
dtypes: float64(3), int64(2), object(14)
memory usage: 152.7+ KB

In [34]:
df.shape

(977, 19)

In [35]:
curr_dir = Path("/Users/siddhant/housepriceproject/Capstone/notebooks/houses-preprocessing.ipynb")
home_dir = curr_dir.parent.parent.parent
destination_dir = home_dir / 'Capstone' / 'data' / 'processed'

destination_dir.mkdir(parents=True, exist_ok=True)

filename = "cleaned_houses.csv"
filepath = destination_dir / filename

df.to_csv(filepath, index=False)