In [2]:
import pandas as pd 
import numpy as np

/var/folders/wc/dg5vr0h57jvg48dksgcxz02w0000gn/T/ipykernel_43423/1228117823.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
flats = pd.read_csv("/Users/siddhant/housepriceproject/Capstone/data/processed/cleaned_flats.csv")
houses = pd.read_csv("/Users/siddhant/housepriceproject/Capstone/data/processed/cleaned_houses.csv")

In [4]:
df = pd.concat([flats, houses], ignore_index=True)

In [5]:
df = df.sample(df.shape[0], ignore_index=True)

In [6]:
df.head(5)

,property_name,society,property_type,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,rating
0,4 BHK Flat in Sector 56 Gurgaon,the lions cghs,flat,1.99,11055.0,1800.09,Super Built up area 2400(222.97 sq.m.)Built Up...,4,4,3+,"pooja room,others","The Lion Cghs, Sector 56 Gurgaon, Gurgaon, Har...",NaN,East,10+ Year Old,"['Sector 54 chowk metro station', 'Sector metr...","['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '4 Ge...","['Feng Shui / Vaastu Compliant', 'Intercom Fac...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
1,2 Bedroom House for sale in Bhimgarh Kheri Pha...,independent,house,0.58,10591.0,547.63,Plot area 550(51.1 sq.m.)Built Up area: 1000 s...,2,3,2,not available,"Bhimgarh Kheri Phase 3, Gurgaon, Haryana, Indi...",2.0,South-East,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Chintapurni Man...",[],['Natural Light'],NaN
2,2 BHK Flat in Sector-11 sohna,global hill view,flat,0.30,4599.0,652.32,Carpet area: 761 (70.7 sq.m.),2,2,2,not available,"Tower 1,flat 1608, Global Hill View,sohna Sect...",NaN,South-East,1 to 5 Year Old,NaN,NaN,NaN,NaN
3,2 BHK Flat in Palam Vihar,bestech park view residency,flat,0.98,6261.0,1565.25,Super Built up area 1565(145.39 sq.m.),2,2,3,study room,"Palam Vihar, Gurgaon, Haryana",NaN,South-West,5 to 10 Year Old,"['Dwarka Sector 21 Metro Station', 'HUDA Marke...","['2 Wardrobe', '4 Fan', '4 Light', 'No AC', 'N...","['Security / Fire Alarm', 'Power Back-up', 'Li...","['Green Area5 out of 5', 'Construction4 out of..."
4,5 BHK Flat in Sector 57 Gurgaon,bptp freedom park life,flat,5.50,8982.0,6123.36,Built Up area: 5010 (465.44 sq.m.),5,6,3+,"pooja room,servant room","Sector 57 Gurgaon, Gurgaon, Haryana",NaN,East,5 to 10 Year Old,"['Presidium School Gurgoan', 'Manav Rachna Sch...","['1 Water Purifier', '12 Fan', '1 Exhaust Fan'...","['Water purifier', 'Security / Fire Alarm', 'P...","['Green Area5 out of 5', 'Construction4 out of..."

In [7]:
df.shape

(3974, 19)

In [8]:
df.duplicated().sum()

13

In [10]:
# DROPPING THE DUPLICATES
df.drop_duplicates(keep="last", inplace=True)

We combined both the cleaned data files of houses and flats to get out final dataset

In [11]:
from pathlib import Path 

curr_dir = Path("/Users/siddhant/housepriceproject/Capstone/notebooks/merged-houses-flats.ipynb")
home_dir = curr_dir.parent.parent.parent
destination_dir = home_dir / 'Capstone' / 'data' / 'processed'

destination_dir.mkdir(parents=True, exist_ok=True)

filename = "properties.csv"
filepath = destination_dir / filename

df.to_csv(filepath, index=False)