In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import warnings 
%matplotlib inline

In [2]:
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("/Users/siddhant/housepriceproject/Capstone/data/raw/appartments.csv").drop(22)
df.head()

,PropertyName,PropertySubName,NearbyLocations,LocationAdvantages,Link,PriceDetails,TopFacilities
0,Smartworld One DXP,"2, 3, 4 BHK Apartment in Sector 113, Gurgaon","['Bajghera Road', 'Palam Vihar Halt', 'DPSG Pa...","{'Bajghera Road': '800 Meter', 'Palam Vihar Ha...",https://www.99acres.com/smartworld-one-dxp-sec...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"3, 4 BHK Apartment in Sector 111, Gurgaon","['DPSG Palam Vihar Gurugram', 'The NorthCap Un...","{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N...",https://www.99acres.com/m3m-crown-sector-111-g...,"{'3 BHK': {'building_type': 'Apartment', 'area...","['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"Land, 3, 4 BHK Independent Floor in Sector 63,...","['AIPL Business Club Sector 62', 'Heritage Xpe...","{'AIPL Business Club Sector 62': '2.7 Km', 'He...",https://www.99acres.com/adani-brahma-samsara-v...,{'3 BHK': {'building_type': 'Independent Floor...,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"2, 3, 4 BHK Apartment in Sector 108, Gurgaon","['The Shikshiyan School', 'WTC Plaza', 'Luxus ...","{'The Shikshiyan School': '2.9 KM', 'WTC Plaza...",https://www.99acres.com/sobha-city-sector-108-...,"{'2 BHK': {'building_type': 'Apartment', 'area...","['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"2, 3 BHK Independent Floor in Sector 93 Gurgaon","['Pranavananda Int. School', 'DLF Site central...","{'Pranavananda Int. School': '450 m', 'DLF Sit...",https://www.99acres.com/signature-global-city-...,{'2 BHK': {'building_type': 'Independent Floor...,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."

In [4]:
df.columns

Index(['PropertyName', 'PropertySubName', 'NearbyLocations',
       'LocationAdvantages', 'Link', 'PriceDetails', 'TopFacilities'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246 entries, 0 to 246
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PropertyName        246 non-null    object
 1   PropertySubName     246 non-null    object
 2   NearbyLocations     246 non-null    object
 3   LocationAdvantages  246 non-null    object
 4   Link                246 non-null    object
 5   PriceDetails        246 non-null    object
 6   TopFacilities       246 non-null    object
dtypes: object(7)
memory usage: 15.4+ KB

RECOMMENDER SYSTEM BASED ON TOP FACILITIES

In [6]:
df[["PropertyName", "TopFacilities"]]

,PropertyName,TopFacilities
0,Smartworld One DXP,"['Swimming Pool', 'Salon', 'Restaurant', 'Spa'..."
1,M3M Crown,"['Bowling Alley', 'Mini Theatre', 'Manicured G..."
2,Adani Brahma Samsara Vilasa,"['Terrace Garden', 'Gazebo', 'Fountain', 'Amph..."
3,Sobha City,"['Swimming Pool', 'Volley Ball Court', 'Aerobi..."
4,Signature Global City 93,"['Mini Theatre', 'Doctor on Call', 'Concierge ..."
...,...,...
242,DLF Princeton Estate,"['Swimming Pool', 'Medical Centre', 'Laundry',..."
243,Pyramid Urban Homes 2,"['Shopping Centre', 'Community Hall', '24x7 Se..."
244,Satya The Hermitage,"['Bus Shelter', 'Swimming Pool', 'Business Lou..."
245,BPTP Spacio,"['Swimming Pool', 'Card Room', 'Piped Gas', 'P..."
246,SS The Coralwood,"['Swimming Pool', 'School', 'Solar Lighting', ..."

In [7]:
df[["PropertyName", "TopFacilities"]]["TopFacilities"][0]

"['Swimming Pool', 'Salon', 'Restaurant', 'Spa', 'Cafeteria', 'Sun Deck', '24x7 Security', 'Club House', 'Gated Community']"

In [8]:
# LETS CONVERT THE STRINGS INTO ACTUAL LISTS
import re
def extract_list(s):
    return re.findall(r"'(.*?)'", s)

df['TopFacilities'] = df['TopFacilities'].apply(extract_list)

In [9]:
df['TopFacilities']

0      [Swimming Pool, Salon, Restaurant, Spa, Cafete...
1      [Bowling Alley, Mini Theatre, Manicured Garden...
2      [Terrace Garden, Gazebo, Fountain, Amphitheatr...
3      [Swimming Pool, Volley Ball Court, Aerobics Ce...
4      [Mini Theatre, Doctor on Call, Concierge Servi...
                             ...
242    [Swimming Pool, Medical Centre, Laundry, Salon...
243    [Shopping Centre, Community Hall, 24x7 Securit...
244    [Bus Shelter, Swimming Pool, Business Lounge, ...
245    [Swimming Pool, Card Room, Piped Gas, Pool Tab...
246    [Swimming Pool, School, Solar Lighting, Aerobi...
Name: TopFacilities, Length: 246, dtype: object

In [10]:
# NOW LETS CONVERT THE LISTS BACK INTO STRINGS.
df["TopFacilities_str"] = [' '.join(x) for x in df["TopFacilities"]]

In [11]:
df["TopFacilities_str"]

0      Swimming Pool Salon Restaurant Spa Cafeteria S...
1      Bowling Alley Mini Theatre Manicured Garden Sw...
2      Terrace Garden Gazebo Fountain Amphitheatre Pa...
3      Swimming Pool Volley Ball Court Aerobics Centr...
4      Mini Theatre Doctor on Call Concierge Service ...
                             ...
242    Swimming Pool Medical Centre Laundry Salon Gro...
243    Shopping Centre Community Hall 24x7 Security G...
244    Bus Shelter Swimming Pool Business Lounge Read...
245    Swimming Pool Card Room Piped Gas Pool Table S...
246    Swimming Pool School Solar Lighting Aerobics C...
Name: TopFacilities_str, Length: 246, dtype: object

In [12]:
# NOW LETS VECTORISE EACH OF THESE STRINGS
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

tfidfvector = TfidfVectorizer(stop_words="english", ngram_range=(1, 2))
tfidf_matrix = tfidfvector.fit_transform(df["TopFacilities_str"])

In [13]:
# NOW SINCE THE STRINGS ARE VECTORISED, LETS FIND THE COSINE SIMILARITY BETWEEN A STRING WITH ALL OTHER STRINGS
cosinse_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [14]:
cosinse_sim.shape

(246, 246)

In [15]:
df["PropertyName"][0]

'Smartworld One DXP'

In [16]:

def recommend_properties(property_name, cosinse_sim = cosinse_sim):
    # Take the index of the property name
    idx = df.index[df["PropertyName"] == property_name].tolist()[0]
    
    # Retrieving the cosine similarity score and index of the retrived index
    similarity_score = list(enumerate(cosinse_sim[idx]))
    
    # Sorting the similarity scores in a descending order (Each score and its index is a tuple in similarity_score)
    similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
    
    # Retrieving the similarity scores of top 5 similar properties
    similarity_score = similarity_score[1:6]
    
    # Retrieving the index of these top similarity scores
    idx_sim = [i[0] for i in similarity_score]
    
    # Creating a dataframe of properties with their similarity scores
    recommendations_df = pd.DataFrame({
        'PropertyName': df['PropertyName'].iloc[idx_sim],
        'SimilarityScore': similarity_score
    })
    
    return recommendations_df

In [17]:
recommend_properties('Smartworld One DXP')

        PropertyName             SimilarityScore
11    DLF The Arbour     (11, 0.388850461994329)
154    India Rashtra   (153, 0.3459354538430299)
64   Ace Palm Floors    (63, 0.3278166625200139)
114       M3M Natura  (113, 0.31791768235666384)
116  Ireo City Plots  (115, 0.30214002412270297)

RECOMMENDER SYSTEM BASED ON PRICE DETAILS

In [18]:
df[["PropertyName", "PriceDetails"]]

,PropertyName,PriceDetails
0,Smartworld One DXP,"{'2 BHK': {'building_type': 'Apartment', 'area..."
1,M3M Crown,"{'3 BHK': {'building_type': 'Apartment', 'area..."
2,Adani Brahma Samsara Vilasa,{'3 BHK': {'building_type': 'Independent Floor...
3,Sobha City,"{'2 BHK': {'building_type': 'Apartment', 'area..."
4,Signature Global City 93,{'2 BHK': {'building_type': 'Independent Floor...
...,...,...
242,DLF Princeton Estate,"{'2 BHK': {'building_type': 'Apartment', 'area..."
243,Pyramid Urban Homes 2,"{'1 BHK': {'building_type': 'Apartment', 'area..."
244,Satya The Hermitage,"{'2 BHK': {'building_type': 'Apartment', 'area..."
245,BPTP Spacio,"{'2 BHK': {'building_type': 'Apartment', 'area..."
246,SS The Coralwood,"{'2 BHK': {'building_type': 'Apartment', 'area..."

In [19]:
import json

# Function to parse and extract the required features from the PriceDetails column
def refined_parse_modified_v2(detail_str):
    try:
        details = json.loads(detail_str.replace("'", "\""))
    except:
        return {}

    extracted = {}
    for bhk, detail in details.items():
        # Extract building type
        extracted[f'building type_{bhk}'] = detail.get('building_type')

        # Parsing area details
        area = detail.get('area', '')
        area_parts = area.split('-')
        if len(area_parts) == 1:
            try:
                value = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area low {bhk}'] = value
                extracted[f'area high {bhk}'] = value
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None
        elif len(area_parts) == 2:
            try:
                extracted[f'area low {bhk}'] = float(area_parts[0].replace(',', '').replace(' sq.ft.', '').strip())
                extracted[f'area high {bhk}'] = float(area_parts[1].replace(',', '').replace(' sq.ft.', '').strip())
            except:
                extracted[f'area low {bhk}'] = None
                extracted[f'area high {bhk}'] = None
        
        # Parsing price details
        price_range = detail.get('price-range', '')
        price_parts = price_range.split('-')
        if len(price_parts) == 2:
            try:
                extracted[f'price low {bhk}'] = float(price_parts[0].replace('₹', '').replace(' Cr', '').replace(' L', '').strip())
                extracted[f'price high {bhk}'] = float(price_parts[1].replace('₹', '').replace(' Cr', '').replace(' L', '').strip())
                if 'L' in price_parts[0]:
                    extracted[f'price low {bhk}'] /= 100
                if 'L' in price_parts[1]:
                    extracted[f'price high {bhk}'] /= 100
            except:
                extracted[f'price low {bhk}'] = None
                extracted[f'price high {bhk}'] = None

    return extracted
# Apply the refined parsing and generate the new DataFrame structure
data_refined = []

for _, row in df.iterrows():
    features = refined_parse_modified_v2(row['PriceDetails'])
    
    # Construct a new row for the transformed dataframe
    new_row = {'PropertyName': row['PropertyName']}
    
    # Populate the new row with extracted features
    for config in ['1 BHK', '2 BHK', '3 BHK', '4 BHK', '5 BHK', '6 BHK', '1 RK', 'Land']:
        new_row[f'building type_{config}'] = features.get(f'building type_{config}')
        new_row[f'area low {config}'] = features.get(f'area low {config}')
        new_row[f'area high {config}'] = features.get(f'area high {config}')
        new_row[f'price low {config}'] = features.get(f'price low {config}')
        new_row[f'price high {config}'] = features.get(f'price high {config}')
    
    data_refined.append(new_row)

df_final_refined_v2 = pd.DataFrame(data_refined).set_index('PropertyName')

In [20]:
df_final_refined_v2['building type_Land'] = df_final_refined_v2['building type_Land'].replace({'':'Land'})

In [21]:
df_final_refined_v2

,building type_1 BHK,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,building type_2 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,...,building type_1 RK,area low 1 RK,area high 1 RK,price low 1 RK,price high 1 RK,building type_Land,area low Land,area high Land,price low Land,price high Land
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,None,NaN,NaN,NaN,NaN,Apartment,1370.0,1370.0,2.0000,2.40,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
M3M Crown,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
Adani Brahma Samsara Vilasa,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,...,None,NaN,NaN,NaN,NaN,Land,500.0,4329.0,2.05,41.13
Sobha City,None,NaN,NaN,NaN,NaN,Apartment,1381.0,1692.0,1.5500,3.21,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
Signature Global City 93,None,NaN,NaN,NaN,NaN,Independent Floor,981.0,1118.0,0.9301,1.06,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,None,NaN,NaN,NaN,NaN,Apartment,964.0,964.0,NaN,NaN,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
Pyramid Urban Homes 2,Apartment,335.0,398.0,23.45,0.2786,Apartment,500.0,625.0,NaN,NaN,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
Satya The Hermitage,None,NaN,NaN,NaN,NaN,Apartment,1450.0,1450.0,NaN,NaN,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
BPTP Spacio,None,NaN,NaN,NaN,NaN,Apartment,1000.0,1079.0,NaN,NaN,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
SS The Coralwood,None,NaN,NaN,NaN,NaN,Apartment,1320.0,1425.0,NaN,NaN,...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN

In [22]:
categorical = df_final_refined_v2.select_dtypes(include="object").columns.to_list()

In [23]:
categorical

['building type_1 BHK',
 'building type_2 BHK',
 'building type_3 BHK',
 'building type_4 BHK',
 'building type_5 BHK',
 'building type_6 BHK',
 'building type_1 RK',
 'building type_Land']

In [24]:
ohe_df = pd.get_dummies(df_final_refined_v2, columns=categorical, drop_first=True)

In [25]:
ohe_df.fillna(0, inplace=True)

In [26]:
ohe_df

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,building type_2 BHK_Independent Floor,building type_2 BHK_Service Apartment,building type_3 BHK_Independent Floor,building type_3 BHK_Service Apartment,building type_3 BHK_Villa,building type_4 BHK_Independent Floor,building type_4 BHK_Villa,building type_5 BHK_Independent Floor,building type_5 BHK_Villa,building type_6 BHK_Villa
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,0.0,0.0,0.00,0.0000,1370.0,1370.0,2.0000,2.40,1850.0,2050.0,...,False,False,False,False,False,False,False,False,False,False
M3M Crown,0.0,0.0,0.00,0.0000,0.0,0.0,0.0000,0.00,1605.0,2170.0,...,False,False,False,False,False,False,False,False,False,False
Adani Brahma Samsara Vilasa,0.0,0.0,0.00,0.0000,0.0,0.0,0.0000,0.00,1800.0,3150.0,...,False,False,True,False,False,True,False,False,False,False
Sobha City,0.0,0.0,0.00,0.0000,1381.0,1692.0,1.5500,3.21,1711.0,2343.0,...,False,False,False,False,False,False,False,False,False,False
Signature Global City 93,0.0,0.0,0.00,0.0000,981.0,1118.0,0.9301,1.06,1235.0,1530.0,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,0.0,0.0,0.00,0.0000,964.0,964.0,0.0000,0.00,1127.0,1127.0,...,False,False,False,False,False,False,False,False,False,False
Pyramid Urban Homes 2,335.0,398.0,23.45,0.2786,500.0,625.0,0.0000,0.00,0.0,0.0,...,False,False,False,False,False,False,False,False,False,False
Satya The Hermitage,0.0,0.0,0.00,0.0000,1450.0,1450.0,0.0000,0.00,1991.0,1991.0,...,False,False,False,False,False,False,False,False,False,False
BPTP Spacio,0.0,0.0,0.00,0.0000,1000.0,1079.0,0.0000,0.00,1225.0,1865.0,...,False,False,False,False,False,False,False,False,False,False
SS The Coralwood,0.0,0.0,0.00,0.0000,1320.0,1425.0,0.0000,0.00,1750.0,1890.0,...,False,False,False,False,False,False,False,False,False,False

In [27]:
ohe_df = ohe_df.astype(int)

In [28]:
ohe_df.sample(5)

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,building type_2 BHK_Independent Floor,building type_2 BHK_Service Apartment,building type_3 BHK_Independent Floor,building type_3 BHK_Service Apartment,building type_3 BHK_Villa,building type_4 BHK_Independent Floor,building type_4 BHK_Villa,building type_5 BHK_Independent Floor,building type_5 BHK_Villa,building type_6 BHK_Villa
PropertyName,,,,,,,,,,,,,,,,,,,,,
Signature Global Park,0,0,0,0,745,745,0,0,1081,1081,...,1,0,1,0,0,0,0,0,0,0
Birla Navya Avik,0,0,0,0,0,0,0,0,1225,1372,...,0,0,0,0,0,0,0,0,0,0
Ansals Shiva Som Valley,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anant Raj Ashok Estate,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DLF The Crest,0,0,0,0,2246,2370,7,8,2651,3518,...,0,0,0,0,0,0,0,0,0,0

In [29]:
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()

scaler.set_output(transform="pandas")
scaled_df = scaler.fit_transform(ohe_df)

In [30]:
scaled_df.head()

,area low 1 BHK,area high 1 BHK,price low 1 BHK,price high 1 BHK,area low 2 BHK,area high 2 BHK,price low 2 BHK,price high 2 BHK,area low 3 BHK,area high 3 BHK,...,building type_2 BHK_Independent Floor,building type_2 BHK_Service Apartment,building type_3 BHK_Independent Floor,building type_3 BHK_Service Apartment,building type_3 BHK_Villa,building type_4 BHK_Independent Floor,building type_4 BHK_Villa,building type_5 BHK_Independent Floor,building type_5 BHK_Villa,building type_6 BHK_Villa
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,-0.252236,-0.169557,-0.102483,-0.077568,1.223655,1.020205,-0.167063,1.037026,0.553850,0.370901,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
M3M Crown,-0.252236,-0.169557,-0.102483,-0.077568,-0.893477,-0.896604,-0.277097,-0.316334,0.293146,0.472786,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
Adani Brahma Samsara Vilasa,-0.252236,-0.169557,-0.102483,-0.077568,-0.893477,-0.896604,-0.277097,-0.316334,0.500645,1.304848,...,-0.289310,-0.063888,2.683282,-0.063888,-0.171139,3.924283,-0.236208,-0.111111,-0.216353,-0.063888
Sobha City,-0.252236,-0.169557,-0.102483,-0.077568,1.240653,1.470725,-0.222080,1.713706,0.405941,0.619670,...,-0.289310,-0.063888,-0.372678,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888
Signature Global City 93,-0.252236,-0.169557,-0.102483,-0.077568,0.622513,0.667624,-0.277097,0.360346,-0.100570,-0.070602,...,3.456497,-0.063888,2.683282,-0.063888,-0.171139,-0.254824,-0.236208,-0.111111,-0.216353,-0.063888

In [31]:
cosinse_sim2 = cosine_similarity(scaled_df)

In [32]:
cosinse_sim2.shape

(246, 246)

In [33]:
def recommend_properties_with_scores(property_name, top_n=5):
    
    # Get the similarity scores for the property using its name as the index
    sim_scores = list(enumerate(cosinse_sim2[scaled_df.index.get_loc(property_name)]))
    
    # Sort properties based on the similarity scores
    sorted_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices and scores of the top_n most similar properties
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    
    # Retrieve the names of the top properties using the indices
    top_properties = scaled_df.index[top_indices].tolist()
    
    # Create a dataframe with the results
    recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return recommendations_df

# Test the recommender function using a property name
recommend_properties_with_scores('M3M Golf Hills')

              PropertyName  SimilarityScore
0           Unitech Escape         0.955051
1              M3M Capital         0.949478
2  AIPL The Peaceful Homes         0.922306
3    Vatika Seven Elements         0.921685
4               BPTP Terra         0.920803

RECOMMENDATION SYSTEM BASED ON LOCATION ADVANTAGE

In [34]:
df[["PropertyName", "LocationAdvantages"]]

,PropertyName,LocationAdvantages
0,Smartworld One DXP,"{'Bajghera Road': '800 Meter', 'Palam Vihar Ha..."
1,M3M Crown,"{'DPSG Palam Vihar Gurugram': '1.4 Km', 'The N..."
2,Adani Brahma Samsara Vilasa,"{'AIPL Business Club Sector 62': '2.7 Km', 'He..."
3,Sobha City,"{'The Shikshiyan School': '2.9 KM', 'WTC Plaza..."
4,Signature Global City 93,"{'Pranavananda Int. School': '450 m', 'DLF Sit..."
...,...,...
242,DLF Princeton Estate,"{'Sector 42-43 Metro Station': '1.8 Km', 'Para..."
243,Pyramid Urban Homes 2,{'Aarvy Healthcare Super Speciality': '1.8 KM'...
244,Satya The Hermitage,"{'Dwarka Expressway': '1.2 Km', 'S N Internati..."
245,BPTP Spacio,"{'Suncity School': '0.2 Km', 'Gurugram Road': ..."
246,SS The Coralwood,"{'Sector 84 Road': '600 Meter', 'Delhi Public ..."

In [35]:
# CONVERTING KMS TO METERS
def distance_mts(distance_str):
    try:
        if 'Km' in distance_str or 'KM' in distance_str:
            return float(distance_str.split()[0]) * 1000
        elif 'Meter' in distance_str or 'meter' in distance_str:
            return float(distance_str.split()[0])
        else:
            return None
    except:
        return None

In [36]:
df["LocationAdvantages"][0]

"{'Bajghera Road': '800 Meter', 'Palam Vihar Halt': '2.5 KM', 'DPSG Palam Vihar': '3.1 KM', 'Park Hospital': '3.1 KM', 'Gurgaon Railway Station': '4.9 KM', 'The NorthCap University': '5.4 KM', 'Dwarka Expy': '1.2 KM', 'Hyatt Place Gurgaon Udyog Vihar': '7.7 KM', 'Dwarka Sector 21, Metro Station': '7.2 KM', 'Pacific D21 Mall': '7.4 KM', 'Indira Gandhi International Airport': '14.7 KM', 'Hamoni Golf Camp': '6.2 KM', 'Fun N Food Waterpark': '8.8 KM', 'Accenture DDC5': '9 KM'}"

In [37]:
import ast
location_matrix = {}
locations_list = []
for index, row in df.iterrows():
    location_advantages = ast.literal_eval(row['LocationAdvantages'])
    if location_advantages:
        # Check if the dictionary is not empty
        distances = {}
        for location, distance in location_advantages.items():
            location = location.strip()
            if location in ['4D Square Mall','4 D SQUARE MALL','4 D Mall' ,'4d Square Mall','4 D Square Mall']:
                distances['4D Square Mall'] = distance_mts(distance)
            elif location in ["Sunrise cricket Ground", "Sunrise Cricket Ground"]:
                distances['Sunrise cricket Ground'] = distance_mts(distance)
            elif location in ["Gandhinagar Capital Railway Station", "Gandhinagar Railway Station"]:
                distances['Gandhinagar Railway Station'] = distance_mts(distance)
            elif location in ["Apparel Park Metro Station", "Apparel Park"]:
                distances['Apparel Park Metro Station'] = distance_mts(distance)
            elif location in ["Sabarmati Junction", "Sabarmati Jn Railway Station"]:
                distances['Sabarmati Junction'] = distance_mts(distance)
            elif location in ["Science City Circle", "Science City Nature Park", "SAL College of Engineering", "Science City Aquarium", "SAL Engineering",
    "Science City Ahmedabad", "SAL College",'Science City and Park','SAL Institute']:
                distances['Science City'] = distance_mts(distance)
            elif location in ["Divine Kids Pre-School", "Divine Life Intl School", "Divine Kids Preschool"]:
                distances['Divine Kids Pre-School'] = distance_mts(distance)
            elif location in ["Chandkhera Railway Station", "Chandkhera Road railway station"]:
                distances['Chandkhera Railway Station'] = distance_mts(distance)
            elif location in ["Fun Blast Ahmedabad", "Fun Blast - SBR", "Fun Blast"]:
                distances['Fun Blast Ahmedabad'] = distance_mts(distance)
            elif location in ["NH 48", "NH48"]:
                distances['NH 48'] = distance_mts(distance)
            elif location in ["PVR Acropolis", "The Acropolis", "Acropolis Mall", "The Acropolis Mall", "PVR Acropollis"]:
                distances['PVR Acropolis'] = distance_mts(distance)
            elif location in ["Motera Stadium metro station", "Motera Metro station", "Motera Stadium Metro Station", "Motera Metro Station"]:
                distances['Motera Stadium metro station'] = distance_mts(distance)
            elif location in ["Wyndham Ahmedabad Shela", "Wyndham Ahmedabad"]:
                distances['Wyndham Ahmedabad Shela'] = distance_mts(distance)
            elif location in ["Gift City", "GIFT City"]:
                distances['Gift City'] = distance_mts(distance)
            elif location in ["Shalby Multi-Specialty Hospitals", "Shalby Multi-Specialty Hospital", "Shalby Hospital", "Shalby hospital"]:
                distances['Shalby Multi-Specialty Hospitals'] = distance_mts(distance)
            elif location in ["Ambli Road", "Ambli Lake"]:
                distances['Ambli Road'] = distance_mts(distance)
            elif location in ["SG Highway", "Sarkhej - Gandhinagar Hwy", "S.G. Highway", "Sarkhej Gandhinagar Highway", "S G Highway", "S. G. Highway"]:
                distances['SG Highway'] = distance_mts(distance)
            elif location in ["Taj Skyline", "Taj Skyline, Ahmedabad"]:
                distances['Taj Skyline'] = distance_mts(distance)
            elif location in ["Apollo Pharmacy", "Apollo Hospital", "APOLLO HOSPITAL"]:
                distances['Apollo Hospital'] = distance_mts(distance)
            elif location in ["CIMS Hospital", "Marengo CIMS Hospital", "CIMS hospital"]:
                distances['CIMS Hospital'] = distance_mts(distance)
            elif location in ["Sardar Vallabhbhai Patel Stadium", "SVP Stadium", "Sardar Vallabhbhai Patel", "Sardar Patel Stadium"]:
                distances['SVP Stadium'] = distance_mts(distance)
            elif location in ["Nirma University", "NIRMA UNIVERSITY", "Institute Of Science, Nirma University"]:
                distances['Nirma University'] = distance_mts(distance)
            elif location in ["Thaltej Metro Station", "Thaltej"]:
                distances['Thaltej Metro Station'] = distance_mts(distance)
            elif location in ["Narendra Modi Stadium", "Motera Stadium", "MODI STADIUM", "Motera stadium"]:
                distances['Narendra Modi Stadium'] = distance_mts(distance)
            elif location in ["NH147", "NH 147", "NH147, Gujarat", "NH147, Sarkhej", "NH147, Ahmedabad"]:
                distances['NH 147'] = distance_mts(distance)
            elif location in ["International Airport", "Vallabhbhai Patel Intl Airport", "SVP International Airport", "Ahmedabad Domestic Airport",
    "Ahmedabad International Airport T2", "Sardar Vallabhbhai Patel Intl Airport", "Airport", "Ahmedabad Airport",
    "Sardar Vallabhbhai Patel Airport", "SVP Intl Airport", "International airport", "International Airport Ahmedabad",
    "Ahmedabad Int Airport T2", "The Ummed Ahmedabad Airport", "Ahmedabad Intl Airport T2", "Sardar Vallabhbhai Patel Int",
    "Ahmedabad domestic airport", "SVPI Airport"]:
                distances['SVP International Airport'] = distance_mts(distance)
            elif location in ["Sardar Patel Ring Road", "Sardar Patel Ring Rd"]:
                distances['Sardar Patel Ring Road'] = distance_mts(distance)
            elif location in ["TRP Mall Bopal", "TRP Mall"]:
                distances['TRP Mall'] = distance_mts(distance)
            elif location in ["Goraghuma Railway Station", "Goraghuma"]:
                distances['Goraghuma Railway Station'] = distance_mts(distance)
            else: 
                distances[location] = distance_mts(distance)
            locations_list.append(location)
        location_matrix[index] = distances
#         print(distances)
    else:
        location_matrix[index] = {'':''}
        # If the dictionary is empty, you can choose to handle it as needed
        # For example, you can add a default value or skip it
       

# Convert the dictionary to a DataFrame
location_df = pd.DataFrame.from_dict(location_matrix, orient='index')
location_df.head()

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,MCC Cricket Ground Dhankot,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Holiday Inn,Sector 84 Road,Skyview Corporate Park
0,800.0,2500.0,3100.0,3100.0,4900.0,5400.0,1200.0,7700.0,7200.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,550.0,NaN,NaN,NaN,NaN,6700.0,3800.0,NaN,NaN,7500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,5300.0,NaN,NaN,NaN,2500.0,8800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,1500.0,NaN,NaN,NaN,6500.0,6700.0,5100.0,NaN,NaN,8200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,5500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
locations_list = []
for i, value in location_matrix.items():
    locations_list.extend(value.keys())

In [39]:
words_list = [
    ["Gandhinagar Capital Railway Station", "Gandhinagar Railway Station"],
    ["Sunrise cricket Ground", "Sunrise Cricket Ground"],
    ["Apparel Park Metro Station", "Apparel Park"],
    ["Sabarmati Junction", "Sabarmati Jn Railway Station"],
    ["Science City Circle", "Science City Nature Park", "SAL College of Engineering", "Science City Aquarium", "SAL Engineering",
    "Science City Ahmedabad", "SAL College"],
    ["Divine Kids Pre-School", "Divine Life Intl School", "Divine Kids Preschool"],
    ["Chandkhera Railway Station", "Chandkhera Road railway station"],
    ["Fun Blast Ahmedabad", "Fun Blast - SBR", "Fun Blast"],
    ["NH 48", "NH48"],
    ["PVR Acropolis", "The Acropolis", "Acropolis Mall", "The Acropolis Mall", "PVR Acropollis"],
    ["Motera Stadium metro station", "Motera Metro station", "Motera Stadium Metro Station", "Motera Metro Station"],
    ["Wyndham Ahmedabad Shela", "Wyndham Ahmedabad"],
    ["Gift City", "GIFT City"],
    ["Shalby Multi-Specialty Hospitals", "Shalby Multi-Specialty Hospital", "Shalby Hospital", "Shalby hospital"],
    ["Ambli Road", "Ambli Lake"],
    ["SG Highway", "Sarkhej - Gandhinagar Hwy", "S.G. Highway", "Sarkhej Gandhinagar Highway", "S G Highway", "S. G. Highway"],
    ["Taj Skyline", "Taj Skyline, Ahmedabad"],
    ["Apollo Pharmacy", "Apollo Hospital", "APOLLO HOSPITAL"],
    ["CIMS Hospital", "Marengo CIMS Hospital", "CIMS hospital"],
    ["Sardar Vallabhbhai Patel Stadium", "SVP Stadium", "Sardar Vallabhbhai Patel", "Sardar Patel Stadium"],
    ["Nirma University", "NIRMA UNIVERSITY", "Institute Of Science, Nirma University"],
    ["Thaltej Metro Station", "Thaltej"],
    ["Narendra Modi Stadium", "Motera Stadium", "MODI STADIUM", "Motera stadium"],
    ["NH147", "NH 147", "NH147, Gujarat", "NH147, Sarkhej", "NH147, Ahmedabad"],
    ["International Airport", "Vallabhbhai Patel Intl Airport", "SVP International Airport", "Ahmedabad Domestic Airport",
    "Ahmedabad International Airport T2", "Sardar Vallabhbhai Patel Intl Airport", "Airport", "Ahmedabad Airport",
    "Sardar Vallabhbhai Patel Airport", "SVP Intl Airport", "International airport", "International Airport Ahmedabad",
    "Ahmedabad Int Airport T2", "The Ummed Ahmedabad Airport", "Ahmedabad Intl Airport T2", "Sardar Vallabhbhai Patel Int",
    "Ahmedabad domestic airport", "SVPI Airport"],
    ["Sardar Patel Ring Road", "Sardar Patel Ring Rd"],
    ["TRP Mall Bopal", "TRP Mall"],
    ["Goraghuma Railway Station", "Goraghuma"]
]

In [40]:
from collections import Counter

counts = Counter(locations_list)
locations_dic = dict(counts)
len(locations_dic)

1068

In [41]:
top_locations = []
for key, value in locations_dic.items():
    if value > 1:
        top_locations.append(key)
len(top_locations)

337

In [42]:
remove_locations = ['ATM UNION BANK OF INDIA', 'HP Petrol Pump', 'State Bank of India', 'Axis Bank ATM', 'Axis Bank, Adventure Park',
                   'ICICI BANK ATM', 'HP PETROL PUMP.Metro', 'Super Market', 'Kotak Mahindra Bank ATM', 'Railway Station',
                   'Auda Garden', 'Sanand Station', 'State Bank ATM', 'Bank Of Baroda', 'AMTS Bus Stop', 'BRTS Bus Stop',
                   'Corporation Bank ATM', 'Sanand', 'Metro Station', 'ICICI Bank ATM', 'South Indian Bank ATM',
                   'Indian Oil Petrol Pump', 'Dhaval Medical Store', 'Sanand Railway Station', 'Chandlodiya Station',
                   'AUDA Garden', 'HDFC bank ATM', 'BOB ATM', 'Indusind Bank', 'HDFC Bank', 'Bharat petrol pump', 'SBI',
                   'Post Office', 'Kalupur Co-operative Bank', 'Bharat Petroleum', 'Canara Bank', 'Indian Oil',
                   'ICICI Bank -Motera', 'BRTS', 'Cinemas', 'Malls', 'Hospitals', 'International Schools',
                   'International Stadium', 'PVR Cinema', 'Sabarmati', 'Motera', 'Royal Chemist', 'Hospital', 'Bank',
                   'Bus Station', 'School/College', 'Sarkhej', 'Bank of India', 'PNB ATM', 'Axis bank ATM',
                   'Bank of India ATM', 'Central bank of India ATM', 'GSC Bank, Gota', 'Maninagar', 'Sardar Vallabhbhai',
                   'SBI ATM', 'Pallav', 'Changodar', 'GSC Bank Gota Branch', 'Nilesha', 'Asarva', 'D MART',
                   'Central bank of india ATM', 'Indian Bank', 'Union Bank', 'Union Bank with ATM', 'Yes bank ATM',
                   'D-Mart', 'Cng Petrol Pump', 'Bank Of India', 'Petrol Pump', 'Ring Road', 'Adalaj', 'Indian Bank ATM',
                   'Khodiyar', 'Sanathal', 'Essar Petrol Pump', 'IDBI','']

In [43]:
display_locations = [item for item in top_locations if item not in remove_locations]
len(display_locations)

333

In [44]:
location_df.shape

(246, 1068)

In [45]:
location_df = location_df.set_index(keys=df["PropertyName"])
location_df.head()

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,MCC Cricket Ground Dhankot,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Holiday Inn,Sector 84 Road,Skyview Corporate Park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,800.0,2500.0,3100.0,3100.0,4900.0,5400.0,1200.0,7700.0,7200.0,7400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M3M Crown,550.0,NaN,NaN,NaN,NaN,6700.0,3800.0,NaN,NaN,7500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Adani Brahma Samsara Vilasa,5300.0,NaN,NaN,NaN,2500.0,8800.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sobha City,1500.0,NaN,NaN,NaN,6500.0,6700.0,5100.0,NaN,NaN,8200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Signature Global City 93,NaN,NaN,NaN,5500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
location_df = location_df.dropna(axis=1, how='all')
location_df = location_df.select_dtypes(exclude=['object'])

In [47]:
# THIS MATRIX IS SHOWING DISTANCE BETWEEN PROPERTY AND NEAREST LANDMARK. SO WE CANT REPLACE NAN WITH 0 BECAUSE IT WOULD BE INTERPRETED
# AS THE PROPERTY AND ITS LANDAMRK ARE SIDE BY SIDE (DISTANCE IS 0).
# NOW SINCE WE HAVE NO DATA AND THUS THESE NANS WONT BE INCLUDED IN OUR RECOMMENDER SYSTEM SO MIGHT AS WELL FILL IT WITH THE HIGHEST VALUE IN THE MATRIX TO SUGGEST THAT THESE LANDMARKS ARE FAR
# AWAY FROM THE PROPERTIES 

location_df.fillna(54000, inplace=True)

In [48]:
location_df

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,Delhi Public School Gurugram Sector 67A,Samrat Mihir Bhoj Road,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Sector 84 Road,Skyview Corporate Park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,800.0,2500.0,3100.0,3100.0,4900.0,5400.0,1200.0,7700.0,7200.0,7400.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
M3M Crown,550.0,54000.0,54000.0,54000.0,54000.0,6700.0,3800.0,54000.0,54000.0,7500.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Adani Brahma Samsara Vilasa,5300.0,54000.0,54000.0,54000.0,2500.0,8800.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Sobha City,1500.0,54000.0,54000.0,54000.0,6500.0,6700.0,5100.0,54000.0,54000.0,8200.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Signature Global City 93,54000.0,54000.0,54000.0,5500.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Pyramid Urban Homes 2,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
Satya The Hermitage,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
BPTP Spacio,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0
SS The Coralwood,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,...,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0,54000.0

In [49]:
# LETS SCALE THE DATAFRAME
scaler.set_output(transform="pandas")
scaled_df2 = scaler.fit_transform(location_df)

In [50]:
scaled_df2

,Bajghera Road,Palam Vihar Halt,DPSG Palam Vihar,Park Hospital,Gurgaon Railway Station,The NorthCap University,Dwarka Expy,Hyatt Place Gurgaon Udyog Vihar,"Dwarka Sector 21, Metro Station",Pacific D21 Mall,...,Delhi Public School Gurugram Sector 67A,Samrat Mihir Bhoj Road,The Shri Ram School Aravali,Taj City Centre Gurugram,Minda Industries Corporate Office,"Rampura Flyover, Naurangpur Rd",Manesar toll plaza - Kherki Daula,"Imt Manesar, Gurugram",Sector 84 Road,Skyview Corporate Park
PropertyName,,,,,,,,,,,,,,,,,,,,,
Smartworld One DXP,-7.960979,-15.652476,-15.652476,-3.149592,-2.966108,-3.147217,-3.726615,-10.231739,-15.652476,-6.023233,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
M3M Crown,-7.998993,0.063888,0.063888,0.328277,0.368941,-3.054053,-3.529275,0.090308,0.063888,-6.009941,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
Adani Brahma Samsara Vilasa,-7.276720,0.063888,0.063888,0.328277,-3.129124,-2.903557,0.280891,0.090308,0.063888,0.171073,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
Sobha City,-7.854539,0.063888,0.063888,0.328277,-2.857430,-3.054053,-3.430606,0.090308,0.063888,-5.916893,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
Signature Global City 93,0.128476,0.063888,0.063888,-2.985606,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLF Princeton Estate,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
Pyramid Urban Homes 2,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
Satya The Hermitage,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
BPTP Spacio,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888
SS The Coralwood,0.128476,0.063888,0.063888,0.328277,0.368941,0.335688,0.280891,0.090308,0.063888,0.171073,...,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888,0.063888

In [51]:
cosinse_sim3 = cosine_similarity(scaled_df2)

In [52]:
def recommend_properties_with_scores2(property_name, top_n=5):
    cosine_sim_matrix = 2*cosinse_sim + 4*cosinse_sim2 + 1*cosinse_sim3
    
    property_idx = scaled_df2.index.get_loc(property_name)
    scores = list(enumerate(cosine_sim_matrix[property_idx]))
    sorted_scores = sorted(scores, key=lambda x: x[1], reverse=True)
    top_indices = [i[0] for i in sorted_scores[1:top_n+1]]
    top_scores = [i[1] for i in sorted_scores[1:top_n+1]]
    top_properties = scaled_df2.index[top_indices].tolist()
    
    new_recommendations_df = pd.DataFrame({
        'PropertyName': top_properties,
        'SimilarityScore': top_scores
    })
    
    return new_recommendations_df

recommend_properties_with_scores2('DLF The Camellias')

             PropertyName  SimilarityScore
0     Salcon The Verandas         3.994653
1       DLF The Magnolias         2.923290
2         DLF The Aralias         2.734712
3       Parsvnath Exotica         2.016697
4  Pioneer Urban Presidia         1.636074

Now we have three individual recommender systems based on Top facilities, Price details and Location Advantage having 3 individual cosine_similarity matrices. We can combine these three recommendation systems into one recommender system. In this recommender system we can assign weights to each matrix representing what will influence the recommender system more. For example if the cosine matrix of recommender system 3 has the highest weight, the overall recommender system will be more influenced by the the Location Advantage.

In [53]:
import pickle

pickle.dump(location_df, open("/Users/siddhant/housepriceproject/Capstone/datasets/locationdf.pkl", "wb"))

In [66]:
pickle.dump(cosinse_sim, open("/Users/siddhant/housepriceproject/Capstone/datasets/cosinse_sim.pkl", "wb"))
pickle.dump(cosinse_sim2, open("/Users/siddhant/housepriceproject/Capstone/datasets/cosinse_sim2.pkl", "wb"))
pickle.dump(cosinse_sim3, open("/Users/siddhant/housepriceproject/Capstone/datasets/cosinse_sim3.pkl", "wb"))

No properties found within 1 km.

Bajghera Road                          550.0
Palam Vihar Halt                     54000.0
DPSG Palam Vihar                     54000.0
Park Hospital                        54000.0
Gurgaon Railway Station              54000.0
                                      ...
Rampura Flyover, Naurangpur Rd       54000.0
Manesar toll plaza - Kherki Daula    54000.0
Imt Manesar, Gurugram                54000.0
Sector 84 Road                       54000.0
Skyview Corporate Park               54000.0
Name: M3M Crown, Length: 809, dtype: float64